<div class="ui-g">
	<div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
            <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
                <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12">
                    <label for="projCreateBy">Create By (QA):</label>
                </div>
                <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12">
                    <input type="text" id="projCreateBy" pInputText style="width: 100%;" [(ngModel)]="projCreateByQA" />
                </div>
            </div>
            <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
				<div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12">
					<div class="ui-g-2 ui-xl-1 ui-lg-2 ui-md-12 ui-sm-12"></div>
					<label for="projCreateDate">Create Date:</label>
				</div>
				<div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12">
					<input type="text" id="projCreateDate" pInputText style="width: 100%;" [(ngModel)]="projCreateDate" />
				</div>
			</div>

			<div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
				<div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12">
					<div class="ui-g-2 ui-xl-1 ui-lg-2 ui-md-12 ui-sm-12"></div>
					<label for="projVersionDate">Version Date:</label>
				</div>
				<div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12">
					<p-calendar [showIcon]="true" name="projVersionDate" [inputStyle]="{'width': '80px'}" dateFormat="dd/mm/yy" [monthNavigator]="false" [yearNavigator]="false" [(ngModel)]="projVersionDate"></p-calendar>
				</div>
			</div>
			<div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
				<div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12">
					<div class="ui-g-2 ui-xl-1 ui-lg-2 ui-md-12 ui-sm-12"></div>
					<label for="projVersion">Version:</label>
				</div>
				<div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12">
					<input type="text" id="projVersion" pInputText style="width: 100%" [(ngModel)]="projVersion" />
				</div>
			</div>
		</div>

        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
			<div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12 ui-g-nopad">
				<div class="ui-g-4 ui-xl-3 ui-lg-4 ui-md-12 ui-sm-12">
					<label for="projChangeDes">Change Description:</label>
				</div>
				<div class="ui-g-8 ui-xl-9 ui-lg-8 ui-md-12 ui-sm-12">
					<input type="text" id="projChangeDes" pInputText style="width: 100%;" />
				</div>
			</div>
		</div>

		<div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
			<p-dataTable [value]="qaPlans" emptyMessage="ไม่มีรายการข้อมูลที่แสดง" [responsive]="true" scrollable="true" scrollHeight="400px">
				<header>
					QA Plan
				</header>
				<p-column field="orderSeq" header="No." [style]="{'width': '40px'}"></p-column>
				<p-column field="qaActivities" header="QA Activites" [style]="{'width': '30%'}">
					<template let-qaPlan="rowData" pTemplate type="body">
						<p-inplace [active]="qaPlan.edit" [disabled]="!qaPlan.edit">
							<span pInplaceDisplay>
								{{qaPlan.qaActivities}}
							</span>
							<span pInplaceContent>
								<input type="text" pInputText style="width: 100%; padding-left: 0px; padding-right: 0px;" [(ngModel)]="qaPlan.qaActivities" />
							</span>
						</p-inplace>
					</template>
				</p-column>
				<p-column field="workCategory" header="Work Category" [style]="{'width': '15%', 'overflow': 'visible'}">
					<template let-col let-qaPlan="rowData" pTemplate type="body">
						<p-dropdown [options]="qadConstant.workCategory" [style]="{'width': '80%'}" [(ngModel)]="qaPlan.workCategoryCode"></p-dropdown>
					</template>
				</p-column>
				<p-column field="planAction" header="Plan Action (Round)" [style]="{'width': '10%'}">
					<template let-qaPlan="rowData" pTemplate type="body">
						<input type="text" pInputText style="width: 90%;" [(ngModel)]="qaPlan.planAction" />
					</template>
				</p-column>
				<p-column field="planEffort" header="Plan Effort (MD)" [style]="{'width': '10%'}">
					<template let-qaPlan="rowData" pTemplate type="body">
						<input type="text" pInputText style="width: 90%;" [(ngModel)]="qaPlan.planEffort" />
					</template>
				</p-column>
				<p-column field="remark" header="Remark" [style]="{'width': '15%'}">
					<template let-qaPlan="rowData" pTemplate type="body">
						<input type="text" pInputText style="width: 90%;" [(ngModel)]="qaPlan.remark" />
					</template>
				</p-column>
				<p-column field="icon" header="-" [style]="{'width': '10%', 'text-align': 'center'}">
					<template let-qaPlan="rowData" pTemplate type="body">
						<span *ngIf="!qaPlan.edit" class="fa fa-file-text fa-lg" style="cursor: pointer" (click)="duplicateRowQaPlan(qaPlan)"></span>
						<span *ngIf="!qaPlan.edit" class="fa fa-pencil fa-lg" style="cursor: pointer" (click)="editRowQaPlan(qaPlan);"></span>
						<span *ngIf="!qaPlan.edit" class="fa fa-trash fa-lg" style="cursor: pointer" (click)="deleteRowQaPlan(qaPlan);"></span>
						<span *ngIf="qaPlan.edit" class="fa fa-check" style="cursor: pointer; font-size: 20px;" (click)="saveRowQaPlan(qaPlan);"></span>
						<span *ngIf="qaPlan.edit" class="fa fa-times" style="cursor: pointer; font-size: 20px;" (click)="cancelEditRowQaPlan(qaPlan);"></span>
					</template>
				</p-column>
			</p-dataTable>
		</div>
	</div>
</div>