<div class="content-container">
    <div class="ui-g">
        <div class="ui-g-6 ui-sm-12 ui-lg-6 ui-xl-6"></div>
        <div class="ui-g-6 ui-sm-12 ui-md-12 ui-lg-6 ui-xl-6 ui-g-nopad">
            <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
                <a [routerLink]="['/qad/QAD1I030']"><button type="button" pButton label="Assign QA" style="width: 100%;"></button></a>
            </div>
            <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
                <a [routerLink]="['/qad/QAD1Q010']"><button type="button" pButton label="History" style="width: 100%;"></button></a>
            </div>
            <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
                <a [routerLink]="['/qad/QAD1I010']"><button type="button" pButton label="QA Plan" style="width: 100%;"></button></a>
            </div>
            <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
                <a [routerLink]="['/qad/QAD1I020']"><button type="button" pButton label="QA Schedule" style="width: 100%;"></button></a>
            </div>
        </div>
    </div>
    <br>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 ui-g-nopad">
            <p-fieldset legend="Project Name">
                <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                        <label for="projCode">Project Code:</label>
                    </div>
                    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-8 ui-lg-8 ui-md-4 ui-sm-10">
                            <input type="text" id="projCode" pTooltip="Precontact Contact In-house" tooltipPosition="bottom" pInputText style="width: 100%"
                                [(ngModel)]="searchCondition.projCode" (change)="clearTextProjName();" />
                        </div>
                        <div class="ui-g-4 ui-lg-4 ui-md-1 ui-sm-2">
                            <button type="button" pButton icon="fa fa-search" (click)="showDialogSearchProjCode(searchCondition.projCode);"></button>
                        </div>
                    </div>
                </div>
                <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-8 ui-lg-11 ui-md-10 ui-sm-8">
                        <input type="text" id="projName" pInputText readonly="true" style="width: 100%;" [(ngModel)]="searchCondition.projName" />
                    </div>
                    <div class="ui-g-4 ui-lg-1 ui-md-2 ui-sm-4">
                        <button type="button" pButton label="ค้นหา" (click)="search();"></button>
                    </div>
                </div>

                <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                        <label for="projCreateByQA" class="red-text">Create By (QA):</label>
                    </div>
                    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-8 ui-lg-8 ui-md-11 ui-sm-9">
                            <input type="text" id="projCreateByQA" pInputText style="width: 100%" [(ngModel)]="searchCondition.projCreateByQA" />
                        </div>
                        <div class="ui-g-4 ui-lg-4 ui-md-1 ui-sm-3">
                            <button type="button" pButton icon="fa fa-search" (click)="showDialogSearchprojCreateByQA(searchCondition.projCreateByQA);"></button>
                        </div>
                    </div>
                </div>

                <div class="ui-g-9 ui-lg-9 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-2 ui-lg-2 ui-md-12 ui-sm-12 ui-xl-1">
                        <label for="projCreateDate" class="red-text">Create Date:</label>
                    </div>
                    <div class="ui-g-10 ui-lg-10 ui-md-12 ui-sm-12">
                        <p-calendar [showIcon]="true" name="projCreateDate" [inputStyle]="{'width': '80px'}" dateFormat="dd/mm/yy" [monthNavigator]="false"
                            [yearNavigator]="false" [(ngModel)]="searchCondition.projCreateDate"></p-calendar>
                    </div>
                </div>

                <p-dialog header="ค้นหา Project" [(visible)]="displaySearchProjCode" modal="modal" [minWidth]="300" [minHeight]="500" [width]="500">
                    <div class="ui-g" style="padding-bottom: 0.5em;">
                        <span>
                            <input type="text" id="searchProjCode" pInputText [(ngModel)]="searchProjCode.projCode" />
                            <button type="button" pButton label="ค้นหา" (click)="searchByProjCode();"></button>
                        </span>
                    </div>
                    <div class="ui-g">
                        <p-dataTable [value]="resultSearchProjects" [rows]="5" [paginator]="true" [pageLinks]="3" selectionMode="single" [(selection)]="selectedProj"
                            (onRowSelect)="onRowSelectProj();" emptyMessage="ไม่พบข้อมูลที่ค้นหา">
                            <p-column field="projCode" header="Project Code" [style]="{'width': '100px'}"></p-column>
                            <p-column field="projName" header="Project Name"></p-column>
                        </p-dataTable>
                    </div>
                </p-dialog>

                <p-dialog header="ค้นหา Create By (QA)" [(visible)]="displaySearchProjCreateByQA" modal="modal" [minWidth]="300" [minHeight]="500"
                    [width]="600">
                    <div class="ui-g" style="padding-bottom: 0.5em;">
                        <span>
                            <input type="text" id="searchCreateByQA" pInputText [(ngModel)]="searchProjCode.projCreateByQA" />
                            <button type="button" pButton label="ค้นหา" (click)="searchByCreateByQA();"></button>
                        </span>
                    </div>
                    <div class="ui-g">
                        <p-dataTable [value]="resultSearchProjCreateByQA" [rows]="5" [paginator]="true" [pageLinks]="3" selectionMode="single" [(selection)]="selectedCreateByQA"
                            (onRowSelect)="onRowSelectCreateByQA();" emptyMessage="ไม่พบข้อมูลที่ค้นหา">
                            <p-column field="thainame" header="ชื่อ"></p-column>
                            <p-column field="engname" header="ชื่อ (อังกฤษ)"></p-column>
                        </p-dataTable>
                    </div>
                </p-dialog>
            </p-fieldset>
        </div>
    </div>
    <br>
    <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 ui-g-nopad">
            <p-fieldset legend="QA Plan">

                <div class="ui-g-3 ui-lg-3 ui-sm-12 ui-md-12 ui-lg-3 ui-g-nopad">
                    <div class="ui-g-6 ui-lg-6 ui-sm-12 ui-md-12">
                        <label for="projVersionDate">Version Date: </label>
                    </div>
                    <div class="ui-g-6 ui-lg-6 ui-sm-12 ui-md-12">
                        <p-calendar [showIcon]="true" name="projVersionDate" [inputStyle]="{'width': '80px'}" dateFormat="dd/mm/yy" [monthNavigator]="false"
                            [yearNavigator]="false"></p-calendar>
                    </div>
                </div>
                <div class="ui-g-2 ui-lg-2 ui-sm-12 ui-md-12 ui-g-nopad">
                    <div class="ui-g-6 ui-lg-6 ui-sm-12 ui-md-12">
                        <label for="projVersion">Version: </label>
                    </div>
                    <div class="ui-g-6 ui-lg-6 ui-sm-12 ui-md-12">
                        <input type="text" id="projVersion" pInputText style="width: 100%" />
                    </div>
                </div>
                <div class="ui-g-7 ui-lg-7 ui-sm-12 ui-md-12 ui-g-nopad">
                    <div class="ui-g-3 ui-lg-3 ui-md-12 ui-sm-12">
                        <label for="projChangeDes">Change Description: </label>
                    </div>
                    <div class="ui-g-9 ui-lg-9 ui-sm-12 ui-md-12">
                        <input type="text" id="projChangeDes" pInputText style="width: 100%;" />
                    </div>
                </div>

                <div class="ui-g-5 ui-md-12 ui-sm-12 ui-lg-5 ui-xl-4 ui-g-nopad">
                    <div class="ui-g-2 ui-lg-2 ui-sm-12 ui-md-12">
                        <label for="mode">Mode: </label>
                    </div>
                    <div class="ui-g-9 ui-lg-10 ui-sm-12 ui-md-12 ui-g-nopad">
                        <div class="ui-g-7 ui-lg-7 ui-sm-12 ui-md-12">
                            <p-radioButton name="modeOption" value="new" [(ngModel)]="modeOption" label="บันทึกข้อมูลใหม่ (New QA Plan)" (click)="selectModeOption()"></p-radioButton>
                        </div>
                        <div class="ui-g-5 ui-lg-5 ui-sm-12 ui-md-12">
                            <p-radioButton name="modeOption" value="edit" [(ngModel)]="modeOption" label="แก้ไขข้อมูลเดิม" (click)="selectModeOption()"></p-radioButton>
                        </div>
                    </div>
                </div>
                <div class="ui-g-7 ui-lg-7 ui-xl-8 ui-sm-12 ui-md-12 ui-g-nopad">
                    <div class="ui-g-5 ui-lg-5 ui-sm-12 ui-md-12 ui-xl-7">
                        <input type="text" id="qaPlanEdit" pInputText [disabled]="disabledEditText" style="width: 100%" />
                    </div>
                    <div class="ui-g-7 ui-lg-7 ui-sm-12 ui-md-12 ui-xl-5">
                        <div class="ui-g-6 ui-lg-6 ui-sm-12 ui-md-12 ui-xl-6 ui-g-nopad">
                            <button type="button" label="บันทึกและส่งพิจารณา" pButton (click)="saveAndSendToApproveQaPlan()" style="width: 100%"></button>
                        </div>
                        <div class="ui-g-3 ui-lg-3 ui-sm-12 ui-md-12 ui-xl-3 ui-g-nopad">
                            <button type="button" label="บันทึก" pButton (click)="saveQaPlan()" style="width: 100%"></button>
                        </div>
                        <div class="ui-g-3 ui-lg-3 ui-sm-12 ui-md-12 ui-xl-3 ui-g-nopad">
                            <button type="button" label="ยกเลิก" pButton (click)="searchCondition = {}" style="width: 100%"></button>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
                    <p-dataTable [value]="qaPlans" emptyMessage="ไม่มีรายการข้อมูลที่แสดง" [rows]="5" [paginator]="true" [responsive]="true"
                        paginatorPosition="top">
                        <header>
                            QA Plan
                            <span class="fa fa-print fa-lg" alt="พิมพ์รายงาน" pTooltip="พิมพ์รายงาน" tooltipPosition="top" style="cursor: pointer;" style="float: right"></span>
                        </header>
                        <p-column field="orderSeq" header="No." [style]="{'width': '10%'}">
                            <!--
                <template let-col let-qaPlan="rowData" pTemplate type="body">
                    <td [qaActivityLevel]=qaPlan.activityLevel>
                        <span >{{qaPlan.orderSeq}}</span>
                    </td>
                </template>-->
                        </p-column>
                        <p-column field="qaActivties" header="QA Activites" [style]="{'width': '25%'}"></p-column>
                        <p-column field="workCategory" header="Work Category" [style]="{'width': '20%', 'overflow': 'visible'}">
                            <template let-col let-qaPlan="rowData" pTemplate type="body">
                                <p-dropdown [options]="qadConstant.workCategory" [(ngModel)]="qaPlan.workCategoryCode"></p-dropdown>
                            </template>
                        </p-column>
                        <p-column field="planAction" header="Plan Action (Round)" [style]="{'width': '10%'}">
                            <template let-qaPlan="rowData" pTemplate type="body">
                                <input type="text" pInputText style="width: 100%; text-align: center; padding-left: 0px; padding-right: 0px;" [(ngModel)]="qaPlan.planAction"
                                />
                            </template>
                        </p-column>
                        <p-column field="planEffort" header="Plan Effort (MD)" [style]="{'width': '10%'}">
                            <template let-qaPlan="rowData" pTemplate type="body">
                                <input type="text" pInputText style="width: 100%; text-align: center; padding-left: 0px; padding-right: 0px;" [(ngModel)]="qaPlan.planEffort"
                                />
                            </template>
                        </p-column>
                        <p-column field="remark" header="Remark" [style]="{'width': '15%'}">
                            <template let-qaPlan="rowData" pTemplate type="body">
                                <input type="text" pInputText style="width: 100%; padding-left: 0px; padding-right: 0px;" [(ngModel)]="qaPlan.remark" />
                            </template>
                        </p-column>
                        <p-column field="icon" header="-" [style]="{'width': '10%', 'text-align': 'center'}">
                            <template let-qaPlan="rowData" pTemplate type="body">
                                <span class="fa fa-file-text fa-lg" alt="สำเนา" style="cursor: pointer" (click)="duplicateRowQaPlan(qaPlan)"></span>
                                <span class="fa fa-pencil fa-lg" alt="แก้ไข" style="cursor: pointer" (click)="showDialogEditQaActivties(qaPlan);"></span>
                                <span class="fa fa-trash fa-lg" alt="ลบ" style="cursor: pointer" (click)="deleteRowQaPlan(qaPlan);"></span>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
                <p-dialog header="แก้ไขรายการ" [(visible)]="display" modal="modal" [minWidth]="300" [minHeight]="350" [width]="500">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                No.
                            </div>
                            <div class="ui-g-9 ui-md-9 ui-sm-12">
                                {{dialogQaPlan.orderSeq}}
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                QA Activites
                            </div>
                            <div class="ui-g-9 ui-md-9 ui-sm-12">
                                <input type="text" id="newQaActivties" pInputText style="width: 100%; padding-left: 0px; padding-right: 0px;" [(ngModel)]="dialogQaPlan.qaActivties"
                                />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                Work Category
                            </div>
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                <p-dropdown [options]="qadConstant.workCategory" [style]="{'width': '100%'}" [autoWidth]="false" [(ngModel)]="dialogQaPlan.workCategoryCode"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                Plan Action (Round)
                            </div>
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                <input type="text" pInputText style="width: 100%; text-align: center; padding-left: 0px; padding-right: 0px;" [(ngModel)]="dialogQaPlan.planAction"
                                />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                Plan Effort (MD)
                            </div>
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                <input type="text" pInputText style="width: 100%; text-align: center; padding-left: 0px; padding-right: 0px;" [(ngModel)]="dialogQaPlan.planEffort"
                                />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3 ui-md-3 ui-sm-12">
                                Remark
                            </div>
                            <div class="ui-g-9 ui-md-9 ui-sm-12">
                                <input type="text" pInputText style="width: 100%; padding-left: 0px; padding-right: 0px;" [(ngModel)]="dialogQaPlan.remark"
                                />
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="ui-widget-content ui-helper-clearfix" style="text-align: center; padding-top: 0.5em; padding-bottom: 0.5em;">
                            <button type="button" pButton label="แก้ไข" icon="fa fa-check" (click)="editDialogEditQaActivities();"></button>
                            <button type="button" pButton label="ยกเลิก" icon="fa fa-close" (click)="cancelDialogEditQaActivties();"></button>
                        </div>
                    </footer>
                </p-dialog>
            </p-fieldset>
        </div>
    </div>
</div>