<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
    <h3>ขอบเขตของโครงการ</h3>
    <hr>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-12 ui-lx-12">
    <p-dataTable [value]="projScopeList" [(selection)]="selectedProjScope" [rows]="5" [responsive]="true"
      [paginator]="true" emptyMessage="ไม่พบข้อมูลที่ค้นหา" paginatorPosition="top" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
      [totalRecords]="5">
      <header>
        เงื่อนไขของโครงการ
        <span style="float: right;">
                <!--<a (click)="goToAddView()"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></a>-->
                <!--<a href="" (click)="delete($event)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>-->
            </span>
      </header>
      <p-column [style]="{'width':'35px', 'text-align': 'center'}" selectionMode="multiple"></p-column>
      <p-column [style]="{'width': '90%'}">
        <template pTemplate type="header">
          รายละเอียดเงื่อนไขของโครงการ
        </template>
        <template let-i="rowIndex" let-projScope="rowData" pTemplate type="body">
          <p-inplace [disabled]="!projScope.edit" [active]="projScope.edit">
            <span pInplaceDisplay>
              <p>
                {{projScope.projScopeDetail}}
              </p>
        </span>
            <span pInplaceContent>
          <textarea pInputTextarea [(ngModel)]="projScope.projScopeDetail" style="width: 99%" autoResize="autoResize"></textarea>
          <!--<input type="text" [(ngModel)]="projScope.projScopeDetail" pInputText>-->
        </span>
          </p-inplace>
        </template>
      </p-column>
      <p-column [style]="{'width': '10%'}">
        <template pTemplate type="header">
          -
        </template>
        <template let-i="rowIndex" let-projScope="rowData" pTemplate type="body">
          <button type="button" pButton icon="fa-pencil" *ngIf="!projScope.edit" (click)="editRow(i)"></button>
          <button type="button" pButton icon="fa-floppy-o" *ngIf="projScope.edit" (click)="saveEditedRow(projScope, i)"></button>
          <button type="button" pButton icon="fa-ban" *ngIf="projScope.edit" (click)="cancelEditedRow(i)"></button>
        </template>
      </p-column>
    </p-dataTable>
</div>