<!--<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
    <h4><strong>ขอบเขตของโครงการ</strong></h4>
    <hr>
  </div>

  <div class="ui-g-12">
    <div class="table-manager-panel">
      <button type="button" pButton label="เพิ่มข้อมูล" icon="fa-plus-square" (click)="addRowData()"></button>
      <button type="button" pButton label="ลบข้อมูล" icon="fa-trash"></button>
    </div>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-12 ui-lx-12">
    <p-dataTable [value]="projScopeList" [(selection)]="selectedProjScope" [rows]="5" [responsive]="true" [paginator]="true"
      emptyMessage="ไม่พบข้อมูลที่ค้นหา" paginatorPosition="top" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="5">
      <header>
        เงื่อนไขของโครงการ
      </header>
      <p-column [style]="{'width':'35px', 'text-align': 'center'}" selectionMode="multiple"></p-column>
      <p-column [style]="{'width': '90%'}">
        <template pTemplate type="header">
          รายละเอียดเงื่อนไขของโครงการ
        </template>
        <template let-i="rowIndex" let-projScope="rowData" pTemplate type="body">
          <p-inplace [disabled]="!projScope.edit" [active]="projScope.edit">
            <span pInplaceDisplay>
              <p>
                {{projScope.scoreDetail}}
              </p>
        </span>
            <span pInplaceContent>
          <textarea pInputTextarea [(ngModel)]="projScope.scoreDetail" style="width: 99%" autoResize="autoResize"></textarea>
        </span>
          </p-inplace>
        </template>
      </p-column>
      <p-column [style]="{'width': '10%'}">
        <template pTemplate type="header">
          -
        </template>
        <template let-i="rowIndex" let-projScope="rowData" pTemplate type="body">
          <button type="button" pButton icon="fa-pencil" *ngIf="!projScope.edit" (click)="editRow(i)"></button>
          <button type="button" pButton icon="fa-floppy-o" *ngIf="projScope.edit" (click)="saveEditedRow(projScope, i)"></button>
          <button type="button" pButton icon="fa-ban" *ngIf="projScope.edit" (click)="cancelEditedRow(i)"></button>
        </template>
      </p-column>
    </p-dataTable>
  </div>
</div>-->

<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12">
    <h4><strong>ขอบเขตของโครงการ</strong></h4>
    <hr>
  </div>

  <div class="ui-g-12" *ngIf="projScope.projScopeRef !== null">
    <div class="table-manager-panel">
      <button type="button" pButton label="แก้ไขข้อมูล" icon="fa-pencil" *ngIf="!projScope.edit" (click)="editProjScope()"></button>
      <button type="button" pButton label="ลบข้อมูล" icon="fa-trash"></button>
    </div>
  </div>
  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-lx-12">
    <div class="ui-widget-content ui-corner-all" *ngIf="!projScope.edit && projScope.projScopeRef !== null" style="min-height: 200px; position: relative;">
      <div class="text-editor-content">
        <span [innerHTML]="projScope.scoreDetail"></span>
      </div>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-lx-12" *ngIf="projScope.edit || projScope.projScopeRef === null">
      <p-editor [(ngModel)]="projScope.scoreDetail" [style]="{'height':'200px'}"></p-editor>
    </div>
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-lx-12" *ngIf="projScope.edit || projScope.projScopeRef === null">
      <div style="float: right">
        <button type="button" pButton label="บันทึกข้อมูล" icon="fa-floppy-o" (click)="saveProjScope()" [disabled]="projScope.scoreDetail === null"></button>
        <button type="button" pButton label="ล้างข้อมูล" icon="fa-times" (click)="clearProjScopeDetail()"></button>
      </div>
    </div>
  </div>
</div>