<div *ngFor="let table of documentChecks; let i = index">
    <p-dataTable [value]="table.value" emptyMessage="ไม่มีรายการข้อมูลที่แสดง" [responsive]="true">
        <p-headerColumnGroup>
            <p-row>
                <p-column [style]="{'width': '50px'}"></p-column>
                <p-column></p-column>
                <p-column [style]="{'width': '50px'}"></p-column>
                <p-column [style]="{'width': '50px'}"></p-column>
                <p-column [style]="{'width': '25%'}"></p-column>
                <p-column [style]="{'width': '10%'}"></p-column>
            </p-row>
            <p-row>
                <p-column [header]="table.header" colspan="6" [style]="{'text-align': 'left'}">
                    <template pTemplate type="header">
                        <div class="ui-g">
                            <div class="ui-g-11 ui-xl-11 ui-lg-11 ui-md-11 ui-sm-11 ui-g-nopad">
                                {{table.header}}
                            </div>
                            <div class="ui-g-1 ui-xl-1 ui-lg-1 ui-md-1 ui-sm-1 ui-g-nopad" style="text-align: right;">
                                <span class="fa fa-plus" style="cursor: pointer; font-size: 20px;" (click)="addNewRowData(i);"></span>
                            </div>
                        </div>
                    </template>
                </p-column>
            </p-row>
        </p-headerColumnGroup>
        <p-column field="orderSeq" header="No."></p-column>
        <p-column field="documentCheckName" header="Document Check List">
            <template let-data="rowData" pTemplate type="body">
                <p-inplace [active]="data.edit||data.newRowData" [disabled]="!data.edit">
                    <span pInplaceDisplay>
                        {{data.documentCheckName}}
                    </span>
                    <span pInplaceContent>
                        <input type="text" pInputText style="width: 100%; padding-left: 0px; padding-right: 0px;" [(ngModel)]="data.documentCheckName" />
                    </span>
                </p-inplace>
            </template>
        </p-column>
        <p-column field="send" header="ทำ">
            <template let-data="rowData" pTemplate type="body">
                <p-checkbox [(ngModel)]="data.send" [binary]="true"></p-checkbox>
            </template>
        </p-column>
        <p-column field="send" header="ไม่ทำ">
            <template let-data="rowData" pTemplate type="body">
                <p-checkbox [(ngModel)]="!data.send" [disabled]="true" [binary]="true"></p-checkbox>
            </template>
        </p-column>
        <p-column field="remark" header="Remark">
            <template let-data="rowData" pTemplate type="body">
                <input type="text" pInputText style="width: 90%" [(ngModel)]="data.remark" />
            </template>
        </p-column>
        <p-column>
            <template let-data="rowData" pTemplate type="body">
                <span *ngIf="!(data.edit||data.newRowData)" class="fa fa-file-text" style="cursor: pointer; font-size: 20px;" (click)="duplicateRowData(i, data)"></span>
                <span *ngIf="!(data.edit||data.newRowData)" class="fa fa-pencil" style="cursor: pointer; font-size: 20px;" (click)="editRowData(data);"></span>
                <span *ngIf="data.edit||data.newRowData" class="fa fa-check" style="cursor: pointer; font-size: 20px;" (click)="saveRowData(data);"></span>
                <span *ngIf="data.edit" class="fa fa-times" style="cursor: pointer; font-size: 20px;" (click)="cancelEditRowData(data);"></span>
                <span *ngIf="!data.edit||data.newRowData" class="fa fa-trash" style="cursor: pointer; font-size: 20px;" (click)="deleteRowData(i, data);"></span>
            </template>
        </p-column>
    </p-dataTable>
</div>