<div class="content-container">
  <div class="ui-g">		
		<div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
			<div style="float: right;">
				<p-selectButton [options]="menus" [(ngModel)]="selectedMenu" (onChange)="nav();"></p-selectButton>
			</div>
		</div>
	</div>
    <div class="ui-g">
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
            <p-fieldset legend="Project Name">
                <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-12 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-6 ui-lx-6 ui-lg-6 ui-md-12 ui-sm-12">
                            <label for="searchProjCode">Project Code<span class="red-text">*</span>:</label>
                        </div>
                        <div class="ui-g-6 ui-lx-6 ui-lg-6 ui-md-4 ui-sm-12 ui-g-nopad">
                            <div class="ui-g-8 ui-xl-8 ui-lg-8 ui-md-9 ui-sm-10">
                                <input type="text" id="searchProjCode" pTooltip="Precontact Contact In-house" tooltipPosition="bottom" pInputText style="width: 100%" [(ngModel)]="searchCondition.projCode" (change)="clearTextProjName();" />
                            </div>
                            <div class="ui-g-4 ui-xl-4 ui-lg-4 ui-md-3 ui-sm-2">
                                <button type="button" pButton icon="fa fa-search" (click)="showDialogSearchProjCode(searchCondition.projCode);"></button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-9 ui-xl-9 ui-lg-9 ui-md-12 ui-sm-12">
                        <input type="text" id="searchProjName" pInputText readonly="true" style="width: 100%;" [(ngModel)]="searchCondition.projName" />
                    </div>
                </div>
                <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-3 ui-lx-3 ui-lg-3 ui-md-12 ui-sm-12">
                            <label for="searchProjCode">Create By (QA):</label>
                        </div>
                        <div class="ui-g-9 ui-lx-9 ui-lg-9 ui-md-12 ui-sm-12 ui-g-nopad">
                            <div class="ui-g-10 ui-xl-10 ui-lg-10 ui-md-11 ui-sm-10">
                                <input type="text" id="searchProjCreateByQA" pInputText style="width: 100%;" [(ngModel)]="searchCondition.projCreateByQA" />
                            </div>
                            <div class="ui-g-2 ui-xl-2 ui-lg-2 ui-md-1 ui-sm-2">
                                <button type="button" pButton icon="fa fa-search" (click)="showDialogSearchEmp(searchCondition.projCreateByQA, 4);"></button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-4 ui-xl-4 ui-lg-4 ui-md-12 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-4 ui-lx-4 ui-lg-4 ui-md-12 ui-sm-12">
                            <label for="searchProjCreateDate">Create Date:</label>
                        </div>
                        <div class="ui-g-8 ui-lx-8 ui-lg-8 ui-md-4 ui-sm-12">
                            <p-calendar [showIcon]="true" name="searchProjCreateDate" [inputStyle]="{'width': '80px'}" [monthNavigator]="false" [yearNavigator]="false"></p-calendar>
                        </div>
                    </div>
                    <div class="ui-g-2 ui-xl-2 ui-lg-2 ui-md-12 ui-sm-12 ui-g-nopad" style="text-align: center;">
                        <div class="ui-g-6 ui-xl-5 ui-lg-6 ui-md-12 ui-sm-12">
                            <button type="button" pButton label="ค้นหา" (click)="search();"></button>
                        </div>
                        <div class="ui-g-6 ui-xl-7 ui-lg-6 ui-md-12 ui-sm-12 ui-g-nopad"></div>
                    </div>
                </div>
                <p-dialog header="ค้นหา Project" [(visible)]="displaySearchProjCode" modal="modal" [responsive]="true" [minWidth]="300" [minHeight]="500" [width]="500" [appendTo]="body">
                    <div class="ui-g" style="padding-bottom: 0.5em;">
                        <span>
                            <input type="text" pInputText [(ngModel)]="searchProjCode.projCode" />
                            <button type="button" pButton label="ค้นหา" (click)="searchByProjCode();"></button>
                        </span>
                    </div>
                    <div class="ui-g">
                        <p-dataTable [value]="resultSearchProjects" [rows]="5" [paginator]="true" [pageLinks]="3" selectionMode="single" [(selection)]="selectedProj" (onRowSelect)="onRowSelectProj();" emptyMessage="ไม่พบข้อมูลที่ค้นหา">
                            <p-column field="projCode" header="Project Code" [style]="{'width': '100px'}"></p-column>
                            <p-column field="projName" header="Project Name"></p-column>
                        </p-dataTable>
                    </div>
                </p-dialog>
            </p-fieldset>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
            <p-fieldset legend="CMMI Document">
                <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
                    <div class="ui-g-4 ui-xl-4 ui-lg-4 ui-md-12 ui-sm-12 ui-g-nopad">
                        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
                            <p-fieldset legend="Template CMMI">
                                <p-menu [model]="templateCMMIItems"></p-menu>
                            </p-fieldset>
                        </div>
                        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad">
                            <p-dataTable [value]="statusSystemDocuments">
                                <header>
                                    ตารางสถานะการบันทึกข้อมูล
                                </header>
                                <p-column field="orderSeq" header="-"></p-column>
                                <p-column field="documentType" header="Document Type"></p-column>
                                <p-column field="documentName" header="ระบบ/เอกสาร"></p-column>
                                <p-column field="status" header="">

                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                    <div class="ui-g-8 ui-xl-8 ui-lg-8 ui-md-12 ui-sm-12 ui-g-nopad">
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>